/* Global Styles */
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

body {
    background-color: #e04a4a
}

#container {
    background-color: #fff6de;
    padding: 20px;
}

/* Mobile Styles */
nav {
    background-color: #e04a4a;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #913030;
    background-color: #fff6de;
    text-align: center;
    margin: 5px 0;
}