body {
    background-color: lightgray;
}

#container {
    background-color: #faf4e6;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    border: 4px solid darkgray;
}

header h1 {
    text-align: center;
    font-size: 100px;
    color: #4a4a4a;
    text-shadow: 2px 2px 2px #494a49;
}