/* Global Styles */
Body {
background-color: #e04a4a;
}

img {
display: block;
margin: 0 auto;
width: 100%;
}

a {
    color: #913030;
}

a:hover {
color: #e04a4a;
text-decoration: none;
}

#container {
    background-color: #fff6de;
    width: 75%;
    margin: 20px auto;
}

/* Desktop Style */

nav {
    background-color: #913030; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
color:#e04a4a
}